        .header {
            height: 3rem;
            background-color: cornflowerblue;
            box-shadow: 0 1px 5px black;
            margin-bottom: 50px;
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 5px;
            color: white;
        }
        .img-detect {
            width: 30rem;
            height: 30rem;
            padding: 5px;
            background-color: rgb(191,226,180);
            border: 3px solid;
            border-radius: 5px;
            cursor: pointer;
        }
        .img-detect img {
            width: 100%;
            height: 100%;
        }