.main {
    padding-top: 25rem;
    padding-bottom: 25rem;
    width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;

    #uploadForm {
        display: none;
    }
    &>div{
        width: 40%;
        min-width: 30rem;
        // display: flex;
        margin: 100px;
    }

    .gravity,
    .starsky {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
    }
}